<div id="ipProtocol" style="text-align:center; margin:0px;display:table;">
	<div id="firstRow" style="display:table-row;">
		<div style="margin:0 auto;width:80px; display: inline-block; background:rgb(255, 50, 50);  ">
			Version
		</div>
		<div style="margin:0 auto;width:80px; display: inline-block; background:rgb(255, 73, 73); ">
			IHL
		</div>
		<div style="margin:0 auto;width:160px; display: inline-block; background:rgb(255, 90, 90);">
			Type of Service
		</div>
		<div style="margin:0 auto;width:320px;display: inline-block; background:rgb(255, 120, 120);">
			Total Length
		</div>
	</div>
	<div id="secondRow" style="display:table-row;">
		<div style="margin:0 auto;width:320px;display: inline-block; background:rgb(0, 0, 255);">
			Identification
		</div>
		<div style="margin:0 auto;width:100px;display: inline-block; background:rgb(50, 50, 255);">
			Flags
		</div>
		<div style="margin:0 auto;width:220px;display: inline-block; background:rgb(173, 173, 255);">
			Flags
		</div>
	</div>
	<div id="thirdRow" style="display:table-row;">
		<div style="margin:0 auto;width:160px;display: inline-block; background:rgb(10, 10, 255);">
			Time to Live
		</div>
		<div style="margin:0 auto;width:160px; display: inline-block; background:rgb(40,40, 255);">
			Protocol
		</div>
		<div style="margin:0 auto;width:320px; display: inline-block;background:rgb(200, 200, 255); ">
			Header Checksum
		</div>
	</div>
	<div id="fourthRow" style="display:table-row;">
		<div style="margin:0 auto;width:640; display: inline-block; background:rgb(0, 0, 255); ">
			Source IP Address
		</div>
	</div>
	<div id="fifthRow" style="display:table-row;">
		<div style="margin:0 auto;width:640; display: inline-block; background:rgb(87, 211, 255); ">
			Destination IP Address
		</div>
	</div>
	<div id="sixthRow" style="display:table-row;">
		<div style="margin:0 auto;width:480; display: inline-block; background:rgb(0, 0, 255);">
			Options
		</div>
		<div style="margin:0 auto;width:160; display: inline-block;background:rgb(100, 100, 255); ">
			Padding
		</div>
	</div>
</div>
